<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/makes">Makes</a></li>
        <li><a href="/models">Models</a></li>
        <li><a href="/cars">Cars</a></li>
        <li><a href="/vehicle-types">Vehicle Types</a></li>
    </ul>
</nav>
