<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Car Rental Inventory</title>
        <link rel="stylesheet" href="/styles.css" />
    </head>
    <body>
        <!-- Include the header for navigation -->
        <%- include('partials/header') %>

        <h1>Welcome to Car Rental Inventory</h1>
        <p>
            Select from the options in the navigation bar to manage the
            inventory.
        </p>
    </body>
</html>
